.label-display {
    display: flex;
    width: 34rem;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1rem;
    /* border: 1px solid black; */
}

.add-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:2rem;
}
.add-label input {
    padding: 0.5rem 1rem;
    flex-grow: 1;
}

.add-btn{
    padding: 0.5rem;
}

.add-btn:hover{
    cursor: pointer;
}