html,
body {
  height: 100%;
  background-color: var(--clr-secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #5348C7;
  --clr-secondary: #d0d0d0f0;
}

.primary {
  color: var(--clr-primary)
}

.secondary {
  color: var(--clr-secondary);
}

.bg-clr-primary {
  background-color: var(--clr-primary);
}

h1 {
  font-size: 3rem;
}